@import "tailwindcss";
/* 告訴 Tailwind：請啟用基於 class 的 Dark Mode */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* 新增這一行：定義 font-pixel 這個 utility class */
  --font-pixel: var(--font-press-start);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-sans);
}

/* weather cloud animation*/
@keyframes sway {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(8px); /* 左右擺動的幅度，像素風可以調小一點更有感覺 */
  }
}

.animate-sway {
  animation: sway 4s ease-in-out infinite;
}

/* 確保像素圖片不會變模糊 */
.pixel-img {
  image-rendering: pixelated;
}